<nav class="sidebar">
  <!-- En-tête de la sidebar -->
  <div class="sidebar-header">
    <i class="bi bi-ticket-perforated"></i>
    <span class="brand-name">AssistTrack</span>
  </div>
  
  <hr class="sidebar-divider">
  
  <!-- Menu principal -->
  <ul class="sidebar-menu">
    <li class="menu-item">
      <a routerLink="/users" routerLinkActive="active" class="menu-link">
        <i class="bi bi-people-fill"></i>
        <span>Utilisateurs</span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/tickets" routerLinkActive="active" class="menu-link">
        <i class="bi bi-ticket-detailed-fill"></i>
        <span>Tickets</span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="menu-link">
        <i class="bi bi-speedometer2"></i>
        <span>Tableau de bord</span>
      </a>
    </li>

  </ul>
  

</nav>